/* General styles */
html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f3f6f9;
    color: #333;
    margin: 0;
    padding: 0;
}

a {
    color: #1c5b84;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    color: #6cc2ff;
    margin: 0; 
    padding: 0.5em 0; 
}
.nav {
    list-style: none;  
    display: flex;
    align-items: center;
    justify-content: space-around; /* Changed from 'space-between' to better distribute space */
    margin: 0 auto; /* Center the navigation in the page */
    padding: 10px 0; /* Top and bottom padding only */
    background-color: #f2f2f2; /* Light grey background for a softer look */
    border-bottom: 2px solid #ccc; /* Slightly thicker border with a softer color */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Subtle shadow for some depth */
}

.navlogoimage {
    height: auto;
    width: 130px; /* Set a specific width for the logo */
    margin-right: 20px; /* Adds spacing to the right of the logo */
}

.nav li {
    padding: 10px 10px; /* Uniform padding for better spacing */
    transition: background-color 0.3s; /* Smooth transition for hover effects */
}

.nav-link {
    color: #333;
    font-weight: bold;
    text-transform: uppercase; /* Make all letters uppercase for a more uniform look */
    text-decoration: none; /* Remove underline */
}

.nav-link:hover, .nav-link:focus {
    color: #0066cc; /* Change color on hover for better visibility */
    background-color: #e6f0ff; /* Light background on hover */
}

.bannerlogoimage {
    display: block;
    margin: 0 auto;
    max-width: 350px;
}

.fullscreen-banner {
    background-image: url('photos/fryeislandbanner.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; 
    width: 100%; 
    position: relative; 
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff; /* This is just an example, change as needed */
    text-align: center;
    width: 90%; /* Adjust the width as needed */
    max-width: 1200px; /* Optional: You can set a max width */
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* A semi-transparent background for better readability */
    border-radius: 10px;
}

.cta-button {
    background-color: #008CBA; /* Example button color, change as needed */
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-top: 10px;
    transition: background-color 0.3s;
    border: none;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: #005f73; /* Darker shade for hover effect */
}


.image-container {
    height: calc(100vh - 60px);  /* Subtract the height of the navigation bar */
    width: 100%;
    overflow: hidden;  /* Optional, ensures no overflow of the image */
}

.image-container img {
    width: 100%;  /* Makes image full width of the container */
    height: 100%;  /* Makes image full height of the container */
    object-fit: cover;  /* Ensures the image covers the area without distortion */
}
.introduction {
    background-color: #ffffff; 
    padding: 20px; 
    margin: 20px 0; /
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    border-radius: 10px; 
}


/* Offerings section */
.offerings {
    padding: 20px;
    text-align: center;
}

.offerings-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.offering img {
    max-width: 150px;
    height: auto;
    border-radius: 10px;
}

/* Rental Options */
.times {
    background-color: #e8eef1;
    padding: 20px;
}

.times ul {
    list-style: none;
    padding: 0;
}

.times li {
    padding: 5px 0;
}

/* Form Container */
.rental-form  {
    background-color: #f7f7f7; /* A lighter shade than #f0f0f0 for a modern look */
    border: 1px solid #e1e1e1; /* A lighter border color */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    border-radius: 10px; /* More pronounced rounded corners */
    padding: 40px; /* More padding for a spacious layout */
    margin: 40px auto 20px; /* Center the form with automatic horizontal margins and more vertical spacing */
    width: 70%; /* Set the width to 70% */
    max-width: 1200px; /* Maximum width to avoid overly wide forms on large screens */
}

/* Form Inputs and Button */
.rental-form input[type='text'],
.rental-form input[type='email'],
.rental-form input[type='tel'],
.rental-form input[type='date'],
.rental-form select {
    width: calc(100% - 22px); /* Adjust width to account for padding and borders */
    margin-bottom: 20px; /* More space between inputs */
    padding: 15px; /* Larger padding for a touch-friendly design */
    border: 1px solid #d6d6d6; /* Lighter border color */
    border-radius: 5px; /* Slightly rounded corners for inputs */
    font-size: 1rem; /* Adjustable font size for better readability */
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1); /* Inner shadow for an inset effect */
}

.form-container button {
    padding: 15px 30px; /* Larger padding for a bigger button */
    margin-top: 10px; /* Space above the button */
    font-size: 1.1rem; /* Slightly larger font size for the button */
    letter-spacing: 0.05em; /* Spacing out the letters for a refined look */
    border-radius: 5px; /* Consistent border-radius with inputs */
    width: auto; /* Auto width to fit content */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* More pronounced shadow for the button */
}

.form-container button:hover,
.form-container button:focus {
    background-color: #03396c; /* A darker color for hover state */
    box-shadow: 0 3px 6px rgba(0,0,0,0.3); /* Enhanced shadow for hover state */
}


/* Footer */
footer {
    background-color: #2a2a2a;
    color: #fff;
    text-align: center;
}

.footer-content a {
    color: #fff;
    padding: 5px;
}

.footer-content a:hover {
    text-decoration: underline;
}

/*contact info */ 
.maps-container {
    display: flex;  /* Enables flexbox layout */
    flex: 1;
}

.map {
    flex: 1;  /* Each map will take an equal amount of space */
    border: none;  /* Optional: Removes the border */
    min-height: 1400px;
    height: 100%;
}

.contact-info {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px; 
    text-align: center; 
}

/* Contact Details Styles for Email and LinkedIn */
.contact-details {
    padding: 20px;
    text-align: center;
}

.contact-details a {
    display: block; 
    margin-bottom: 10px; 
    color: #1c5b84; 
    text-decoration: none; 
}

.contact-details a:hover {
    text-decoration: underline; 
}

/* LinkedIn Logo Styles */
.linkedin-logo {
    width: 165px; 
    height: auto; 
    margin-top: 10px; 
}


/* Google Map Container Styles */
.map-container iframe {
    flex-wrap: wrap; 
    height: 450px; 
    border: none; 
    margin-bottom: 20px; 
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px; 
}


/* Media Queries  */
@media screen and (max-width: 800px) {
    .nav {
        /* Adjust navigation styles for stacking if necessary */
    }
    
    .nav span {
        display: none; /* Hides the pipe characters */
    }
    
    .nav .nav-link {
        display: block; /* Makes each link take up full width */
        width: 100%; /* Ensures each link takes up 100% of the nav width */
        padding: 10px 0; /* Adds space around the links */
        /* Additional styles to ensure proper display and spacing */
    }
}