*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #02435F;
    --accent-color: #ffffff;
    --background-color: #f3f6f9;
    --text-color: #333;
    --link-color: #02435F;
    --hover-color: #015fc4;
}

html {
    font-size: 16px; 
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    overflow-x: hidden;
    height: 100%;
}

/* Font Faces */
@font-face {
    font-family: 'Extra Bold Italic';
    src: url('fonts/prozalibre-extrabolditalic-webfont.woff2') format('woff2'),
         url('fonts/prozalibre-extrabolditalic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Semi Bold Italic';
    src: url('fonts/ProzaLibre-SemiBoldItalic.woff') format('woff2');
}

@font-face {
    font-family: 'Medium';
    src: url('fonts/ProzaLibre-Medium.woff') format('woff2');
}

/* Heading Styles */
h1, h2, h3, h4, h5, h6 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h1, h2 {
    font-family: 'Extra Bold Italic', sans-serif;
    font-weight: bold; 
    font-style: italic;
    font-size: clamp(1.5rem, 2.5vw, 2rem);
}

h1 {
    color: var(--primary-color);
    -webkit-text-stroke: 0.25px white;
}

h2 {
    color: #fff; 
}

h3, h4 {
    font-family: 'Semi Bold Italic', sans-serif;
    font-weight: bold;
    font-style: italic;
    color: var(--primary-color);
}


h5, h6 {
    font-family: 'Medium', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: var(--primary-color);
}


/* Link Styling */
a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
    color: var(--hover-color);
}

a:focus {
    outline: 3px solid var(--accent-color);
    outline-offset: 2px;
}

#hover-info {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s ease-in-out, visibility 0.25s;
}

#hover-info.active {
    opacity: 1;
    visibility: visible;
}

/*Navigation */
.nav {
    list-style: none;  
    display: flex;
    align-items: center;
    font-family: Extra Bold;
    justify-content: space-evenly; 
    margin: 0 auto; 
    padding: 10px 0; 
    background-color: var(--background-color); 
    border-bottom: 2px solid #ccc; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.nav.is-visible {
    display: flex;
}

.navlogoimage {
    height: auto;
    width: 130px; 
    margin-right: 20px;
}

.nav li {
    padding: 10px 10px; 
    transition: background-color 0.3s; 
    color: var(--primary-color)
}

.nav {
    color: var(--link-color);
    font-weight: bold;
    text-decoration: none;
}

.nav:hover, .nav:focus {
    color: #02435F; 
    background-color: #e6f0ff; 
}

.button { 
    font-family: "Extra Bold Italic"; 
    text-align: center; 
    color: #02435F; 
    background-color: white;
    border: 2px solid #02435F; 
    padding: 15px 30px; 
    margin-top: 10px; 
    display: inline-block; 
    text-decoration: none; 
    cursor: pointer; 
    margin-left: auto; 
    margin-right: auto; 
}

/* index page */ 
.bannerlogoimage {
    display: block;
    margin: 0 auto;
    max-width: 350px;
}

.fullscreen-banner {
    background-image: url('photos/fryeislandbanner.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; 
    width: 100%; 
    position: relative; 
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff; 
    text-align: center;
    width: 90%; 
    max-width: 1200px; 
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
}


.image-container {
    height: calc(100vh - 60px);  
    width: 100%;
    overflow: hidden;  
}

.image-container img {
    width: 100%;  
    height: 100%;  
    object-fit: cover; 
}
.introduction {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    height: 70vh;
    justify-content: center;
    background-color: #ffffff;
    margin: 20px 0;
    text-align: center; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.home1{
    padding: 50px;
}
.home2{
    padding: 70px;
}
.home4 {
    margin-top: 20px; /* Adjust the margin-top to move the button higher */
    margin-bottom: 100px;
}


.text-content {
    flex: 1; 
    text-align: left;
    padding: 0 50px;
    text-align: center;
}

.indexmap-box {
    display: flex;
    flex-direction: column; 
    align-items: center;
    flex: 1; 
    align-items: center; 
}
.island-map-small {
    width: 700px; 
    height: auto; 
    margin-bottom: 10px;
}

.about-button {
    width: 700px;
    background-color: #008CBA; 
    color: white;
    font-family: 'Extra Bold Italic';
    padding: 12px 24px;
    font-size: 18px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
    border: none;
    border-radius: 5px; 
}

.about-button:hover {
    background-color: #005f73; 
}

#hover-info {
    display: none;
    position: absolute;
    background-color:#02435F;
    color: white;
    padding: 5px 10px;
    border: 1px solid #02435F;
    border-radius: 6px;
    z-index: 10;  
    top: 0; 
    right: 15%; 
}
/* Offerings section */
.offerings {
    padding: 20px;
    text-align: center;
}

.offerings-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.offering img {
    max-width: 250px;
    height: auto;
    border-radius: 10px;
}


/* Rental Options section */
.times {
    text-align: center;
    background-color: #e8eef1;
    padding: 20px;
}

.times ul {
    list-style: none;
    padding: 0;
}

.times li {
    padding: 5px 0;
}


    #slideshow-container {
        background-color: #000000;
        width: 1200px;
        margin: auto;        
    }
    #bigimages {
        margin-right: 100px;
        float: left;
        max-width: 50%;
    }
    

    #cartinfo {
       padding: 100px;
       float: right;
    }
    #thumbnails {
       width: 840px; 
       margin: auto; 
       padding-top: 20px;
       clear: both;
    }
    .thumbnail-img {
       width: 100px;
       cursor: pointer;
    }
    #fourseatcart, #sixseatcart, #bike, #electricbike, #kayak, #canoe,
    #fourseatcartinfo, #bikeinfo, #electricbikeinfo, #kayakinfo, #sixseatcartinfo, #canoeinfo {
       display: none;
    }

/* Form Inputs, Button, and Text area */

.rental-form {
    background-color: #f7f7f7; 
    font-family: "medium";
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    border: 1px solid #e1e1e1; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    border-radius: 10px; 
    padding: 40px; 
    margin: 40px auto 20px; 
    width: 70%; 
    max-width: 1200px; 
}
.navlogoimage {
    position: right;
}
.form-container {
    background-color: #4c5e6b; 
    padding: 20px;
    text-align: center; 
    
}
.formlogoimage {
    float: right;
    max-height: 100px;
   padding: 5px;

}
.rental-form input[type='text'],
.rental-form input[type='email'],
.rental-form input[type='tel'],
.rental-form input[type='date'],
.rental-form select,
.rental-form textarea {
    width: calc(100% - 22px); 
    margin-bottom: 30px; 
    padding: 15px; 
    border: 1px solid #d6d6d6; 
    border-radius: 5px; 
    font-size: 1rem; 
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1); 
}
.rental-form button {
    font-family: "Extra Bold Italic";
    background-color: #02435F;
    color: white;
    padding: 15px 30px; 
    margin-top: 10px; 
    margin-bottom: 10px; 
    font-size: 1.1rem; 
    display: block;
    margin-left: auto; 
    margin-right: auto; 

}
.waiver-download {
    font-family: "Extra Bold Italic"; 
    text-align: center; 
    color: #02435F; 
    background-color: white;
    border: 2px solid #02435F; 
    padding: 15px 30px; 
    margin-top: 10px; 
    display: inline-block; 
    text-decoration: none; 
    cursor: pointer; 
    margin-left: auto; 
    margin-right: auto; 
}

.waiver-download:hover,
.waiver-download:focus {
    background-color: #e7f5ff; 
    border-color: #02435F; 
    text-decoration: none; 
    outline: none; 
}


/* Footer */
footer {
    background-color: #f2f2f2;
    color: #02435F;
    text-align: center;
    padding: 10px;
    margin-top: 20px; 
    text-decoration: none;
}
.footer-content a {
    color: #fff;
    padding: 5px;
}

.footer-content a:hover {
    text-decoration: underline;
}

/*contact Page */ 
.maps-container {
    display: flex;  
    flex: 1;
}

.map {
    flex: 1;  
    border: none; 
    min-height: 800px;
    height: 100%;
}

.contact-info {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px; 
    text-align: center; 
}

/* Google Map Container Styles */
.map-container iframe {
    flex-wrap: wrap; 
    height: 450px; 
    border: none; 
    margin-bottom: 20px; 
}


/*FAQ*/ 
.faq {
    text-align: center;
    background-color: #4c5e6b;
    padding: 20px; 
}

.faq h2 {
    color: white; 
}

.faq-item {
    margin: 15px auto; 
    padding: 5px;
    border-radius: 8px;
    width: 80%; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background: #ffffff; 
}

.faq-question {
    width: 100%; 
    text-align: left;
    font-family: "Medium";
    padding: 10px;
    background: #02435F;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.1em;
}

.faq-answer {
    display: none;
    padding: 10px;
    border-top: 2px solid #e2e2e2;
}

.faq-answer p {
    color: #666;
}

/*about frye island page */ 
.intro, .wildlife, .activities, .accessibility {
    margin-bottom: 20px;
    text-align: center;

}

.intro p, .activities p, .accessibility p {
    text-align: justify;
}

.image-gallery {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.image-gallery img.animal {
    width: 45%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.activities ul {
    list-style-type: none;
    padding: 0;
}

.activities li {
    background: url('icons/checkmark.png') no-repeat left center;
    padding-left: 30px;
    margin-bottom: 10px;
}

.activities li strong {
    color: #004488;
} 

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
}


/* Media Queries  */


#hamicon {width:40px;}
#close {
    cursor:pointer;
}

.firstrow{display:flex; justify-content: space-between;}
@media only screen and (max-width: 1000px) {
    #nav {
        display: none;
    }
    #close {
        display:none;
    }
    #nav a {
        display: block;
        padding: 5px;
        border: 1px solid #f9f7f7}
    
}
@media only screen and (min-width:800px) {
    #hamicon, #close {display: none;}
}

/*accessibilit*/
.skip {
    background-color: #cac3c3;
    padding: 5px;
    border: 1px solid #000000;
    text-decoration: none; /*removes the underline*/
    position: absolute; /*positions an element relative to the top left of the viewport*/
    top: 10px;
    left: -999px; /*-999 pushes off the left side of the screen*/
}
.skip:focus {
    left: 10px; /* bring it back when its been tabbed to */
}




