/* Body Background Color */
body {
    background-color: #f3f6f9; /* Soft and neutral light blue */
    color: #030404; /*  Text Color */
    
}


/* Link Color */
a {
    color: #1c5b84; 
    text-decoration: none; 
}

a:hover {
    text-decoration: underline; 
}

/* Heading Color */
h1, h2, h3, h4, h5, h6 {
    color: #4c5e6b; /* Complementary blue-gray for headings */
}

/* Site Navigation  */
.nav, nav li {
    display: flex;
    list-style-type: none;
    background-color: #9bacb5; 
    padding: 10px;
    margin: 30px;
    justify-content:center ;
    align-items: center;
  
}
    nav a { 
        text-decoration: none;
        color: #030404; 
    }

        nav a:hover {#f3f6f9;}

/*Main Logo */ 
.mainlogo { height: auto;
    max-width: 85px;
    
}

/*Contact*/
.row {
    display: flex;
    justify-content: space-between; /* Space between columns */
    margin-bottom: 20px; /* Space between rows */
}

.column {
    flex: 1; /* Makes columns take up equal space */
    padding: 20px; /* Space inside columns */
    background-color: #f0f0f0; /* Background color for columns */
    border-radius: 10px; /* Rounded corners */
    box-sizing: border-box; /* Ensures padding does not affect overall width */
}