/* Body Background Color */
body {
    background-color: #f3f6f9; /* Soft and neutral light blue */
    color: #030404; /*  Text Color */
    
}


/* Link Color */
a {
    color: #1c5b84; 
    text-decoration: none; 
}

a:hover {
    text-decoration: underline; 
}

/* Heading Color */
h1, h2, h3, h4, h5, h6 {
    color: #4c5e6b; /* Complementary blue-gray for headings */
}

/* Site Navigation  */
.nav {
    display: flex;
    background-color: #9bacb5; 
    padding: 10px;
    margin: 30px;
    justify-content:center ;
    align-items: center;
    word-spacing: normal;
}
    nav a { 
        text-decoration: none;
        color: 030404; 
    }

        nav a:hover {#f3f6f9;}

/*Main Logo */ 
.mainlogo { height: auto;
    max: width 85px;;
}
