/* Global Resets and Box-Sizing */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Base HTML elements */
html {
    font-size: 16px; /* Base font size */
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #fff;
    padding: 0px; /* Padding for body to ensure some space around the website on small screens */
    margin: 0px; 
}

ul {
    list-style-type: none;
}

/* Global Container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header Styles */
.main-header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between; /* Updated to space-between for logo and nav */
    padding: 10px 20px;
    background-color: #777;
}

.logo {
    flex: 0 1 auto; /* Flex grow, shrink, and basis */
    max-height: 135px;
    filter: drop-shadow(2px 2px 0 #000) drop-shadow(-2px -2px 0 #000);
    margin-right: auto;
}

.menu {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.menu ul {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0 20px;
}

.menu li {
    padding: 10px 15px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    font-size: 1rem;
}

.menu a:hover, .menu a:focus, .menu a.active {
    background-color: #f0f0f0;
    color: #02435F;
}

/* Banner Styles */
.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('fryeislandbanner.jpg') no-repeat center center/cover;
    margin:0;
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.banner-logo {
    max-width: 80%;
    max-height: 100px;
    margin: 0 auto;
}

.banner-background {
    width: 100%;
    height: auto;
}
/* Form Container */
.form-container {
    background-color: var(--background-color, #f0f0f0);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

/* Form Inputs and Button */
.form-container input[type='text'],
.form-container input[type='email'],
.form-container input[type='tel'],
.form-container input[type='date'],
.form-container select,
.form-container button {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; /* Ensures inputs take full width of the form container */
}

.form-container button {
    background-color: var(--primary-color, #02435F);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container button:hover, .form-container button:focus {
    background-color: #022d4c;
}

/* Footer */
.base-bar {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: relative; /* Changed to relative for natural document flow */
}

/* Responsive Design */
@media (max-width: 768px) {
    .menu ul {
        flex-direction: column;
    }

    .menu li {
        text-align: center;
        padding: 10px 0;
    }

    .banner {
        min-height: 250px;
    }

    .logo {
        width: 100px;
        margin: 0 auto 10px; /* Adjust logo sizing and spacing on smaller screens */
    }

    .form-container {
        max-width: 100%;
        margin: 10px auto;
        padding: 20px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        border-radius: 8px;
    }
}
